---
import Layout from '../layouts/Layout.astro';
import MainLayout from '../components/MainLayout.jsx';
import LazyTvPageContainer from '../components/LazyTvPageContainer.jsx';
---

<Layout title="Truyền hình - NhanChillTV">
  <MainLayout client:load>
    <div className="px-0 py-4 md:p-8 max-w-[1600px] mx-auto w-full">
      <LazyTvPageContainer client:only="react" />
    </div>
  </MainLayout>
</Layout>
