---
import Layout from '../layouts/Layout.astro';
import MainLayout from '../components/MainLayout.jsx';
import LazyWorldCupPortal from '../components/LazyWorldCupPortal.jsx';
---

<Layout title="World Cup 2026 - NhanChillTV">
  <MainLayout client:load>
    <main class="mx-auto mt-4 w-full max-w-[1600px] px-4 pb-10 pt-2 md:px-8">
      <LazyWorldCupPortal client:only="react" />
    </main>
  </MainLayout>
</Layout>
